#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ls_cw: ls_cw {
            compatible = "zmk,behavior-tap-dance";
            label = "LS_CW";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&caps_word>;
        };
    };

    macros {
    };

    combos {
        compatible = "zmk,combos";

        CB_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <17 16>;
        };

        CB_TAB {
            bindings = <&kp TAB>;
            key-positions = <24 25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &kp N1            &kp N2              &kp N3          &kp N4   &kp N5  &none                                                      &none      &kp N6  &kp N7   &kp N8               &kp N9                    &kp N0             &none
&none  &lt 4 Q           &kp W               &kp F           &kp P    &kp B   &none                                                      &none      &kp J   &kp L    &kp U                &kp Y                     &lt 4 SEMICOLON    &none
&none  &mt LEFT_SHIFT A  &lt 4 R             &lt 3 S         &lt 1 T  &kp G   &none          &none   &none           &none    &none      &none      &kp M   &lt 2 N  &lt 3 E              &lt 4 I                   &mt RIGHT_SHIFT O  &none
&none  &kp Z             &mt LEFT_CONTROL X  &mt C LEFT_ALT  &kp D    &kp V                          &none           &none                          &kp K   &kp H    &mt RIGHT_ALT COMMA  &mt RIGHT_CONTROL PERIOD  &kp SLASH          &none
&none  &none             &none               &none           &none            &kp BACKSPACE  &ls_cw  &kp ESCAPE      &kp TAB  &kp ENTER  &kp SPACE          &none    &none                &none                     &none              &none
            >;
        };

        lsym {
            bindings = <
&trans  &trans     &trans        &trans         &trans  &trans  &trans                                      &trans  &trans     &trans          &trans         &trans             &trans      &trans
&trans  &trans     &trans        &trans         &trans  &trans  &trans                                      &trans  &trans     &kp UNDERSCORE  &kp PIPE       &kp SINGLE_QUOTE   &trans      &trans
&trans  &kp CARET  &kp ASTERISK  &kp AMPERSAND  &none   &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp POUND  &kp TILDE       &kp SLASH      &kp DOUBLE_QUOTES  &kp DOLLAR  &trans
&trans  &trans     &trans        &trans         &trans  &trans                  &trans      &trans                  &trans     &kp MINUS       &kp BACKSLASH  &kp GRAVE          &trans      &trans
&trans  &trans     &trans        &trans         &trans          &trans  &trans  &trans      &trans  &trans  &trans             &trans          &trans         &trans             &trans      &trans
            >;
        };

        rsym {
            bindings = <
&trans  &trans          &trans           &trans                &trans                 &trans         &trans                                      &trans  &trans  &trans  &trans     &trans    &trans       &trans
&trans  &trans          &kp COLON        &kp LESS_THAN         &kp GREATER_THAN       &kp SEMICOLON  &trans                                      &trans  &trans  &trans  &trans     &trans    &trans       &trans
&trans  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT_SIGN    &trans  &trans  &trans      &trans  &trans  &trans  &trans  &none   &kp EQUAL  &kp PLUS  &kp PERCENT  &trans
&trans  &trans          &kp EXCLAMATION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans                         &trans      &trans                  &trans  &trans  &trans     &trans    &trans       &trans
&trans  &trans          &trans           &trans                &trans                                &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans     &trans    &trans       &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &none   &none   &none   &none   &trans                  &trans      &trans                  &trans  &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans          &trans          &trans        &trans           &trans
            >;
        };

        mod {
            bindings = <
&none  &none  &none  &none  &none       &none  &none                                        &trans           &none         &none         &none         &none         &none         &none
&none  &none  &none  &none  &none       &none  &bootloader                                  &bootloader      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&none  &none  &none  &none  &none       &none  &none        &none  &none      &none  &none  &none            &none         &bl BL_OFF    &bl BL_INC    &bl BL_DEC    &bl BL_OFF    &none
&none  &none  &none  &none  &macro_ver  &none                      &none      &none                          &none         &none         &none         &none         &none         &none
&none  &none  &none  &none  &none              &bt BT_CLR   &none  &none      &none  &none  &rgb_ug RGB_TOG                &none         &none         &none         &none         &none
            >;
        };
    };
};
