#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
    };

    combos {
        compatible = "zmk,combos";

        CB_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <17 16>;
        };

        CB_TAB {
            bindings = <&kp TAB>;
            key-positions = <24 25>;
        };

        MISC {
            bindings = <&sl 2>;
            key-positions = <65 70>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none      &kp N1      &kp N2          &kp N3              &kp N4            &kp N5  &none                                                                &mo 5        &kp N6  &kp N7             &kp N8               &kp N9      &kp N0           &none
&none      &kp Q       &kp W           &kp F               &kp P             &kp B   &none                                                                &none        &kp J   &kp L              &kp U                &kp Y       &kp SEMI         &none
&none      &hm LGUI A  &hm LEFT_ALT R  &hm LEFT_CONTROL S  &hm LEFT_SHIFT T  &kp G   &none            &none         &none           &none    &none        &none        &kp M   &hm RIGHT_SHIFT N  &hm RIGHT_CONTROL E  &hm I RALT  &hm RIGHT_GUI O  &none
&kp LSHFT  &kp Z       &kp X           &kp C               &kp D             &kp V                                  &none           &none                              &kp K   &kp H              &kp COMMA            &kp DOT     &kp SLASH        &kp RSHFT
&mo 2      &none       &none           &none               &none                     &lt 2 BACKSPACE  &lt 4 DELETE  &kp ESCAPE      &kp TAB  &lt 3 ENTER  &lt 1 SPACE          &none              &none                &none       &none            &mo 2
            >;
        };

        symbols {
            bindings = <
&none  &none             &none           &none             &none              &none        &none                                  &none  &none      &none            &none              &none                 &none                  &none
&none  &kp EXCLAMATION   &kp AT_SIGN     &kp POUND         &kp DOLLAR         &kp PERCENT  &none                                  &none  &kp CARET  &kp AMPERSAND    &kp ASTERISK       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&none  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp GRAVE    &none  &none  &none      &none  &none  &none  &kp TILDE  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT         &kp RIGHT_GUI          &none
&none  &kp K_UNDO        &kp K_CUT       &kp K_COPY        &kp K_PASTE        &none                      &none      &none                &none      &kp SQT          &kp DOUBLE_QUOTES  &kp BACKSLASH         &kp PIPE               &none
&none  &none             &none           &none             &none                           &none  &none  &none      &none  &none  &none             &none            &none              &none                 &none                  &none
            >;
        };

        number {
            bindings = <
&trans  &trans        &trans            &trans        &trans          &trans  &trans                                      &trans  &trans        &trans  &trans  &trans  &trans           &trans
&trans  &trans        &trans            &trans        &trans          &trans  &trans                                      &trans  &kp KP_MINUS  &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY  &trans
&trans  &kt LEFT_GUI  &kt LEFT_CONTROL  &kt LEFT_ALT  &kt LEFT_SHIFT  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp KP_PLUS   &kp N4  &kp N5  &kp N6  &kp N0           &trans
&trans  &trans        &trans            &trans        &trans          &trans                  &trans      &trans                  &kp KP_EQUAL  &kp N1  &kp N2  &kp N3  &kp KP_DIVIDE    &trans
&trans  &trans        &trans            &trans        &trans                  &trans  &trans  &trans      &trans  &trans  &trans                &trans  &trans  &trans  &trans           &trans
            >;
        };

        fn {
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans   &trans   &trans           &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans          &trans          &trans        &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &none   &none   &none   &none   &trans                  &trans      &trans                  &trans  &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans          &trans          &trans        &trans           &trans
            >;
        };

        mod {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans                  &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &bootloader                                            &bootloader             &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &rgb_ug RGB_MEFS_CMD 5  &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &macro_ver    &none                             &none      &none                                           &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG                &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };
    };
};
